<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>   
    <link rel="stylesheet" href="../static/forget_password.css">
</head>
<body>
    <div class="container">
        <div class="forgot-box">
          <h2>Forgot Password</h2>
          <p>Enter your master email to receive a reset link</p>
          <form>
            <input type="email" placeholder="Enter master email" required>
            <button type="submit">Send Reset Link</button>
          </form>
        </div>
        <!-- Back to Login Link -->
        <div class="forgot-password">
            <a href="users_login.html"><h6>Back to Login</h6></a>
        </div>
    </div>
</body>
</html>